* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: cornsilk;
}

a {
    text-decoration: none;
}

ul {
    text-align: center;
}

ul li {
    list-style: none;
    padding: 10px;
    font-size: 20px;
}